In [0]:
data = [(1,'Ashu','male',20000),(2,'Swetha','female',40000),(2,'Swetha','female',40000),(3,'Asi','female',50000),(3,'Asi','female',50000),(4,'Atlee','male',6000)]

schema=['id','name','gender','salary']

df = spark.createDataFrame(data,schema)

df.show()
df.printSchema()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|  Ashu|  male| 20000|
|  2|Swetha|female| 40000|
|  2|Swetha|female| 40000|
|  3|   Asi|female| 50000|
|  3|   Asi|female| 50000|
|  4| Atlee|  male|  6000|
+---+------+------+------+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

In [0]:
df.distinct().show()

df.dropDuplicates().show()

df.dropDuplicates(['gender','name']).show()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|  Ashu|  male| 20000|
|  2|Swetha|female| 40000|
|  3|   Asi|female| 50000|
|  4| Atlee|  male|  6000|
+---+------+------+------+

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|  Ashu|  male| 20000|
|  2|Swetha|female| 40000|
|  3|   Asi|female| 50000|
|  4| Atlee|  male|  6000|
+---+------+------+------+

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|  Ashu|  male| 20000|
|  2|Swetha|female| 40000|
|  3|   Asi|female| 50000|
|  4| Atlee|  male|  6000|
+---+------+------+------+