In [0]:
data = [(1,'Ashu','male',20000,'IT'),\
    (2,'Swetha','female',30000,'HR'),\
    (3,'Asi','female',40000,'Payroll'),\
    (4,'Abhishek','male',50000,'HR'),\
    (5,'Akarsh','male',60000,'IT'),\
    (6,'Jai','male',10000,'Payroll'),\
    (7,'Ankita','female',70000,'IT')]

schema=['id','name','gender','salary','department']

df = spark.createDataFrame(data,schema)
df.show()

df1 = df.groupBy('department','gender').count()
df1.show()

+---+--------+------+------+----------+
| id|    name|gender|salary|department|
+---+--------+------+------+----------+
|  1|    Ashu|  male| 20000|        IT|
|  2|  Swetha|female| 30000|        HR|
|  3|     Asi|female| 40000|   Payroll|
|  4|Abhishek|  male| 50000|        HR|
|  5|  Akarsh|  male| 60000|        IT|
|  6|     Jai|  male| 10000|   Payroll|
|  7|  Ankita|female| 70000|        IT|
+---+--------+------+------+----------+

+----------+------+-----+
|department|gender|count|
+----------+------+-----+
|        IT|  male|    2|
|        HR|female|    1|
|   Payroll|female|    1|
|        HR|  male|    1|
|   Payroll|  male|    1|
|        IT|female|    1|
+----------+------+-----+

In [0]:
# GroupBy with aggregate Functions

data = [(1,'Ashu','male',20000,'IT'),\
    (2,'Swetha','female',30000,'HR'),\
    (3,'Asi','female',40000,'Payroll'),\
    (4,'Abhishek','male',50000,'HR'),\
    (5,'Akarsh','male',60000,'IT'),\
    (6,'Jai','male',10000,'Payroll'),\
    (7,'Ankita','female',70000,'IT')]

schema=['id','name','gender','salary','department']

df = spark.createDataFrame(data,schema)
df.show()

df.groupBy('department').min('salary').show()

+---+--------+------+------+----------+
| id|    name|gender|salary|department|
+---+--------+------+------+----------+
|  1|    Ashu|  male| 20000|        IT|
|  2|  Swetha|female| 30000|        HR|
|  3|     Asi|female| 40000|   Payroll|
|  4|Abhishek|  male| 50000|        HR|
|  5|  Akarsh|  male| 60000|        IT|
|  6|     Jai|  male| 10000|   Payroll|
|  7|  Ankita|female| 70000|        IT|
+---+--------+------+------+----------+

+----------+-----------+
|department|min(salary)|
+----------+-----------+
|        IT|      20000|
|        HR|      30000|
|   Payroll|      10000|
+----------+-----------+

In [0]:
from pyspark.sql.functions import count,min,max

df.groupBy('department').agg(count('*').alias('countOfEmps'),\
    min('salary').alias('minSalary'),\
    max('salary').alias('maxSalary')).show()

+----------+-----------+---------+---------+
|department|countOfEmps|minSalary|maxSalary|
+----------+-----------+---------+---------+
|        IT|          3|    20000|    70000|
|        HR|          2|    30000|    50000|
|   Payroll|          2|    10000|    40000|
+----------+-----------+---------+---------+