In [0]:
data1 = [(1,'Ashu','male',20000,2),(2,'Swetha','female',40000,1),(3,'Asi','female',40000,4)]
schema1= ['id','name','gender','salary','dep']

data2 = [(1,'IT'),(2,'HR'),(3,'Payroll')]
schema2 = ['id','name']

empDf = spark.createDataFrame(data1,schema1)
depDf = spark.createDataFrame(data2,schema2)
empDf.show()
depDf.show()

empDf.join(depDf, empDf.dep==depDf.id,'inner').show()
empDf.join(depDf, empDf.dep==depDf.id,'left').show()
empDf.join(depDf, empDf.dep==depDf.id,'right').show()
empDf.join(depDf, empDf.dep==depDf.id,'full').show()

+---+------+------+------+---+
| id|  name|gender|salary|dep|
+---+------+------+------+---+
|  1|  Ashu|  male| 20000|  2|
|  2|Swetha|female| 40000|  1|
|  3|   Asi|female| 40000|  4|
+---+------+------+------+---+

+---+-------+
| id|   name|
+---+-------+
|  1|     IT|
|  2|     HR|
|  3|Payroll|
+---+-------+

+---+------+------+------+---+---+----+
| id|  name|gender|salary|dep| id|name|
+---+------+------+------+---+---+----+
|  2|Swetha|female| 40000|  1|  1|  IT|
|  1|  Ashu|  male| 20000|  2|  2|  HR|
+---+------+------+------+---+---+----+

+---+------+------+------+---+----+----+
| id|  name|gender|salary|dep|  id|name|
+---+------+------+------+---+----+----+
|  1|  Ashu|  male| 20000|  2|   2|  HR|
|  2|Swetha|female| 40000|  1|   1|  IT|
|  3|   Asi|female| 40000|  4|null|null|
+---+------+------+------+---+----+----+

+----+------+------+------+----+---+-------+
|  id|  name|gender|salary| dep| id|   name|
+----+------+------+------+----+---+-------+
|   2|Swetha|female| 40000|   1|  1|     IT|
|   1|  Ashu|  male| 20000|   2|  2|     HR|
|null|  null|  null|  null|null|  3|Payroll|
+----+------+------+------+----+---+-------+

+----+------+------+------+----+----+-------+
|  id|  name|gender|salary| dep|  id|   name|
+----+------+------+------+----+----+-------+
|   2|Swetha|female| 40000|   1|   1|     IT|
|   1|  Ashu|  male| 20000|   2|   2|     HR|
|null|  null|  null|  null|null|   3|Payroll|
|   3|   Asi|female| 40000|   4|null|   null|
+----+------+------+------+----+----+-------+

In [0]:
# some join functions 

empDf.join(depDf, empDf.dep==depDf.id, 'leftsemi').show()
empDf.join(depDf, empDf.dep==depDf.id, 'leftanti').show()

+---+------+------+------+---+
| id|  name|gender|salary|dep|
+---+------+------+------+---+
|  2|Swetha|female| 40000|  1|
|  1|  Ashu|  male| 20000|  2|
+---+------+------+------+---+

+---+----+------+------+---+
| id|name|gender|salary|dep|
+---+----+------+------+---+
|  3| Asi|female| 40000|  4|
+---+----+------+------+---+

In [0]:
data1 = [(1,'Ashu','male',20000,2),(2,'Swetha','female',40000,1),(3,'Asi','female',40000,4)]
schema1= ['id','name','gender','salary','managerId']

df1 = spark.createDataFrame(data1,schema1)

from pyspark.sql.functions import col
df1.alias('empData').join(df1.alias('mergeData'),\
    col('empData.managerId')==col('mergeData.id')\
    ,'inner').show()

+---+------+------+------+---------+---+------+------+------+---------+
| id|  name|gender|salary|managerId| id|  name|gender|salary|managerId|
+---+------+------+------+---------+---+------+------+------+---------+
|  2|Swetha|female| 40000|        1|  1|  Ashu|  male| 20000|        2|
|  1|  Ashu|  male| 20000|        2|  2|Swetha|female| 40000|        1|
+---+------+------+------+---------+---+------+------+------+---------+