In [0]:
data = [(1,'Ashu','male',20000,'IT'),(2,'Swetha','female',40000,'HR'),(3,'Asi','female',50000,'IT'),(4,'Atlee','male',6000,'Payroll')]

schema=['id','name','gender','salary','depart']

df = spark.createDataFrame(data,schema)

df.show()
df.printSchema()

+---+------+------+------+-------+
| id|  name|gender|salary| depart|
+---+------+------+------+-------+
|  1|  Ashu|  male| 20000|     IT|
|  2|Swetha|female| 40000|     HR|
|  3|   Asi|female| 50000|     IT|
|  4| Atlee|  male|  6000|Payroll|
+---+------+------+------+-------+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- depart: string (nullable = true)

In [0]:
df.sort('depart').show() #method 1
df.sort(df.depart).show() #method 2
df.sort(df.depart,df.id.desc()).show()

df.orderBy(df.depart.asc(),df.id.asc()).show()

+---+------+------+------+-------+
| id|  name|gender|salary| depart|
+---+------+------+------+-------+
|  2|Swetha|female| 40000|     HR|
|  3|   Asi|female| 50000|     IT|
|  1|  Ashu|  male| 20000|     IT|
|  4| Atlee|  male|  6000|Payroll|
+---+------+------+------+-------+

+---+------+------+------+-------+
| id|  name|gender|salary| depart|
+---+------+------+------+-------+
|  2|Swetha|female| 40000|     HR|
|  3|   Asi|female| 50000|     IT|
|  1|  Ashu|  male| 20000|     IT|
|  4| Atlee|  male|  6000|Payroll|
+---+------+------+------+-------+

+---+------+------+------+-------+
| id|  name|gender|salary| depart|
+---+------+------+------+-------+
|  2|Swetha|female| 40000|     HR|
|  3|   Asi|female| 50000|     IT|
|  1|  Ashu|  male| 20000|     IT|
|  4| Atlee|  male|  6000|Payroll|
+---+------+------+------+-------+

+---+------+------+------+-------+
| id|  name|gender|salary| depart|
+---+------+------+------+-------+
|  2|Swetha|female| 40000|     HR|
|  1|  Ashu|  male| 20000|     IT|
|  3|   Asi|female| 50000|     IT|
|  4| Atlee|  male|  6000|Payroll|
+---+------+------+------+-------+

In [0]:
()