In [0]:
data = [(1,'Jai'),
        (2,'Raghav'),
        (3,'Prakhar'),
        (4,'Ashu'),
        (5,'hgshgdsnkssjdafsagdjhgshsg')] #in this show() function only show upto 20 characters and above 20 char it will be truncate the value

schema = ['id','name']
df = spark.createDataFrame(data=data,schema=schema)
df.show()

+---+--------------------+
| id|                name|
+---+--------------------+
|  1|                 Jai|
|  2|              Raghav|
|  3|             Prakhar|
|  4|                Ashu|
|  5|hgshgdsnkssjdafsa...|
+---+--------------------+

In [0]:
help(df.show)

Help on method show in module pyspark.sql.dataframe:

show(n: int = 20, truncate: Union[bool, int] = True, vertical: bool = False) -> None method of pyspark.sql.dataframe.DataFrame instance
    Prints the first ``n`` rows to the console.

    .. versionadded:: 1.3.0

    .. versionchanged:: 3.4.0
        Support Spark Connect.

    Parameters
    ----------
    n : int, optional
        Number of rows to show.
    truncate : bool or int, optional
        If set to ``True``, truncate strings longer than 20 chars by default.
        If set to a number greater than one, truncates long strings to length ``truncate``
        and align cells right.
    vertical : bool, optional
        If set to ``True``, print output rows vertically (one line
        per column value).

    Returns
    -------
    None

    Examples
    --------
    >>> df = spark.createDataFrame([
    ...     (14, "Tom"), (23, "Alice"), (16, "Bob")], ["age", "name"])

    Show only top 2 rows.

    >>> df.show(2)
    +---+-----+
    |age| name|
    +---+-----+
    | 14|  Tom|
    | 23|Alice|
    +---+-----+
    only showing top 2 rows

    Show :class:`DataFrame` where the maximum number of characters is 3.

    >>> df.show(truncate=3)
    +---+----+
    |age|name|
    +---+----+
    | 14| Tom|
    | 23| Ali|
    | 16| Bob|
    +---+----+

    Show :class:`DataFrame` vertically.

    >>> df.show(vertical=True)
    -RECORD 0-----
    age  | 14
    name | Tom
    -RECORD 1-----
    age  | 23
    name | Alice
    -RECORD 2-----
    age  | 16
    name | Bob

In [0]:
data = [(1,'Jai'),
        (2,'Raghav'),
        (3,'Prakhar'),
        (4,'Ashu'),
        (5,'hgshgdsnkssjdafsagdjhgshsg')] #in this show() function only show upto 20 characters and above 20 char it will be truncate the value

schema = ['id','name']
df = spark.createDataFrame(data=data,schema=schema)
df.show(truncate=False) # If we use truncate value is false then it will gives all char values.
df.show(n=2,truncate=False) # This is given 1st 2 rows values.
df.show(n=2,truncate=False,vertical=True) # It is used for show all vertical values.

+---+--------------------------+
|id |name                      |
+---+--------------------------+
|1  |Jai                       |
|2  |Raghav                    |
|3  |Prakhar                   |
|4  |Ashu                      |
|5  |hgshgdsnkssjdafsagdjhgshsg|
+---+--------------------------+

+---+------+
|id |name  |
+---+------+
|1  |Jai   |
|2  |Raghav|
+---+------+
only showing top 2 rows

-RECORD 0------
 id   | 1
 name | Jai
-RECORD 1------
 id   | 2
 name | Raghav
only showing top 2 rows