In [0]:
data1 = [(1,'Ashu','male',20000,'IT'),(2,'Swetha','female',40000,'HR')]
schema1=['id','name','gender','salary','department']

data2 = [(1,'Ashu','male',20000,'IT'),(3,'Asi','female',50000,'IT'),(4,'Atlee','male',6000,'Payroll')]
schema2=['id','name','gender','salary','department']

df1=spark.createDataFrame(data1,schema1)
df2=spark.createDataFrame(data2,schema2)

df1.show()
df2.show()

newDF=df1.union(df2) # when use union function it is not delete duplicate value.
newDF.show()

+---+------+------+------+----------+
| id|  name|gender|salary|department|
+---+------+------+------+----------+
|  1|  Ashu|  male| 20000|        IT|
|  2|Swetha|female| 40000|        HR|
+---+------+------+------+----------+

+---+-----+------+------+----------+
| id| name|gender|salary|department|
+---+-----+------+------+----------+
|  1| Ashu|  male| 20000|        IT|
|  3|  Asi|female| 50000|        IT|
|  4|Atlee|  male|  6000|   Payroll|
+---+-----+------+------+----------+

+---+------+------+------+----------+
| id|  name|gender|salary|department|
+---+------+------+------+----------+
|  1|  Ashu|  male| 20000|        IT|
|  2|Swetha|female| 40000|        HR|
|  1|  Ashu|  male| 20000|        IT|
|  3|   Asi|female| 50000|        IT|
|  4| Atlee|  male|  6000|   Payroll|
+---+------+------+------+----------+

In [0]:
newDF1=df1.unionAll(df2) # It is also working like union function
newDF1.show()

newDF1.distinct().show() #when we want to get unique value we will use distinct function

+---+------+------+------+----------+
| id|  name|gender|salary|department|
+---+------+------+------+----------+
|  1|  Ashu|  male| 20000|        IT|
|  2|Swetha|female| 40000|        HR|
|  1|  Ashu|  male| 20000|        IT|
|  3|   Asi|female| 50000|        IT|
|  4| Atlee|  male|  6000|   Payroll|
+---+------+------+------+----------+

+---+------+------+------+----------+
| id|  name|gender|salary|department|
+---+------+------+------+----------+
|  1|  Ashu|  male| 20000|        IT|
|  2|Swetha|female| 40000|        HR|
|  3|   Asi|female| 50000|        IT|
|  4| Atlee|  male|  6000|   Payroll|
+---+------+------+------+----------+