In [0]:
from pyspark.sql.functions import col,lit

data = [(1,'Jai','20000'),
        (2,'Raghav','30000'),
        (3,'Prakhar','40000')]

column = ['id','name','salary']
df = spark.createDataFrame(data=data,schema=column)

df1 = df.withColumn(colName='salary',col=col('salary').cast('Integer')) #when we want to change the datatype of any column.
df2 = df1.withColumn('salary',col('salary')*2) # update existing value with column.
df3 = df2.withColumn('country',lit('India')) # we create new column with existing value.
df4 = df3.withColumn('copiedsalary',col('salary'))

df4.show()
df4.printSchema()

+---+-------+------+-------+------------+
| id|   name|salary|country|copiedsalary|
+---+-------+------+-------+------------+
|  1|    Jai| 40000|  India|       40000|
|  2| Raghav| 60000|  India|       60000|
|  3|Prakhar| 80000|  India|       80000|
+---+-------+------+-------+------------+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- country: string (nullable = false)
 |-- copiedsalary: integer (nullable = true)

In [0]:
#How to renamed column name 

data = [(1,'Jai','20000'),
        (2,'Raghav','30000'),
        (3,'Prakhar','40000')]

column = ['id','name','salary']
df = spark.createDataFrame(data=data,schema=column)
df1 = df.withColumnRenamed('salary','salary_amount')
df1.show()

+---+-------+-------------+
| id|   name|salary_amount|
+---+-------+-------------+
|  1|    Jai|        20000|
|  2| Raghav|        30000|
|  3|Prakhar|        40000|
+---+-------+-------------+